{% extends 'layout.html.twig' %}

{% block Head %}
	{{ parent() }}

 {% block LinksCss %}
 {{ parent() }}
 {% endblock %}

{% endblock %}

{% block title %}Connexion
{% endblock %}
 {% block Header %}
  {{ parent() }}
 {% endblock %}

{% block Content %}
	<section class="gry-bg py-5" style="background-color: rgba(26, 26, 46, 0.95);">
		<div class="profile">
			<div class="container">
				<div class="row">
					<div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8 mx-auto">
						<div class="card" style="background-color: rgba(26, 26, 46, 0.95);">
							<div class="text-center pt-4">
								<h1 class="h4 fw-600" style="color: #fff;">
									Connexion
								</h1>
							</div>

							<div class="px-4 py-3 py-lg-4">
								<div class="">
								{% for message in app.flashes('message') %}
								<div class="alert alert-success" role="alert">
								{{ message }}
								</div>
								{% endfor %}
								{% for message in app.flashes('warning') %}
								<div class="alert alert-warning" role="alert">
								{{ message }}
								</div>
								{% endfor %}
								{% for message in app.flashes('danger') %}
								<div class="alert alert-danger" role="alert">
								{{ message }}
								</div>
								{% endfor %}
									<form class="form-default" role="form" method="POST">
										{% if error %}
											<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
										{% endif %}

										{% if app.user %}
											<div class="mb-3">
												You are logged in as
												{{ app.user.nom }},
												<a href="{{ path('app_logout') }}" style="color: #fff;">Déconnexion</a>
											</div>
										{% endif %}

										<input type="hidden" name="_token" value="iERnFhy1xhueR40D0AhNEVKjoxkPSR8Wh00fNIF6">
										<div class="form-group">
											<input type="text" class="form-control " value="{{ last_username }}" placeholder="Email" name="email" id="inputEmail" required>
											
										</div>

										<div class="form-group">
											<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required>
                                        
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
										</div>

										<div class="row mb-2">
											<div class="col-4">
												
											</div>
											<div class="col-8 text-right" style="color: #fff;">
												<a href="{{path ('forgotten_password')}}" class="text-reset opacity-60 fs-14" >Mot de passe oublié?</a>
											</div>
										</div>

										<div class="mb-5">
											<button type="submit" class="btn btn-primary btn-block fw-600">Connexion</button>
										</div>
										{#<div class="text-center mb-3">
                                            <span class="bg-white fs-12 text-gray">Ou connectez-vous avec</span>
                                        </div>
										<ul class="list-inline social colored text-center mb-4">
                                            <li class="list-inline-item">
                                                <a href="{{ path('connect_facebook_start') }}" target="_blank" class="facebook">
                                                    <i class="lab la-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#" class="google">
                                                    <i class="lab la-google"></i>
                                                </a>
                                            </li>
                                        </ul>#}
									</form>


								</div>
								<div class="text-center" style="color: #fff;">
									<p class="text-muted mb-0" >Vous n'avez pas un compte?</p>
									<a href="{{path('app_register')}}">S'inscire maintenant</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}
{% block javascript %}
{{ parent() }}
		
{% endblock %}